@import url('https://fonts.googleapis.com/css2?family=Besley:wght@400;700&display=swap');

*,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden ;
}
*:focus{
    outline: none;
}
html, body, #root{
    height: 100vh;
}
body{
    font: 14px 'Besley', sans-serif;
    background-color: #efefef;
}
a{
    text-decoration: none;
}
ul, li {
    list-style:none
}
button{
    cursor: pointer;
}
#root {
    display: flex;
    flex-direction: row;
    min-width: 100vw;
    min-height: 100vh;

    --backgroundMain: #121212;
    --colorText: #fff;
}